/* Reset CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Styling Web */
:root {
  --sidebar-color: #e48c04;
  --sidebar-color-opacity: #e48a0480;
  --sidebar-color-opa07: #e48a04bd;
  --sidebar-border: #a26100;
  --border-color: #bbbbbb;
}

.container {
  margin: 0.3rem;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  max-width: 1200px;
  height: 6rem;
}

.header_title {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: linear-gradient(to bottom, #5991f3, #98c0ff);
  border-radius: 5px;
  box-shadow: 2px 2px 8px 3px #9c9c9ccc;
}

.header_title--content {
  color: #c1f9ff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
}

.strokeme {
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000,
    1px 1px 2px #000;
}

.navbar_list {
  background-color: #ccdafd;
  margin: 0 auto;
  width: 50%;
  height: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 3px #9c9c9ccc;
  margin-top: -13px;
  overflow: hidden;
}

.navbar_link {
  padding: 0.2rem 1rem;
  font-size: 1.1rem;
}
.navbar_link:hover,
.navbar_link.active {
  color: rgba(255, 234, 138, 0.91);
  text-shadow: -1px -1px 2px #bbbbbb, 1px -1px 2px #bbbbbb, -1px 1px 2px #bbbbbb,
    1px 1px 2px #bbbbbb;
}

.navbar_item {
  color: inherit;
}

.main {
  margin-top: 1rem;
  border-top: 1px solid #98c0ff;
  display: flex;
}
.sidebar {
  width: 360px;
  padding: 0.4rem;
  border-right: 1px solid #98c0ff;
}

.sidebar_item {
  border: 1px solid var(--sidebar-border);
}
.sidebar_item ~ .sidebar_item {
  margin-top: 0.25rem;
}
.sidebar_item-head {
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--sidebar-color);
  opacity: 0.342;
  &.active {
    opacity: 1;
    color: white;
  }
}
.sidebar_item-title {
  font-size: 1.6rem;
}

.dropdown_icon,
.move_sidebar_icon {
  color: inherit;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  cursor: pointer;
}

.tri_arrow {
  margin-top: 0.1rem;
  font-size: 1.4rem !important;
}

.n-resize {
  cursor: n-resize !important;
}

/* .down_arrow {
  display: none;
} */

.dropdown-content {
  /* display: none; */
  color: #0f67ff;
  padding: 0.3rem 0.7rem;
}

.content {
  flex: 1;
}
.content_box {
  padding: 1rem;
}
.content_title {
  color: var(--sidebar-color-opa07);
  text-align: center;
  font-size: 1.6rem;
}
.content_form {
  border-top: 1px solid #bbbbbb;
  margin-top: 1rem;
}
.content_info_item {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0;
}
.content_info_lable {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1rem;
  & + & {
    margin-top: 0.3rem;
  }
}

.content_info_input {
  width: 45%;
  padding: 0.3rem;
  background: none;
  border: 2px solid #8f8f8f;
  margin-left: 0.5rem;
  border-radius: 2px;
}
.content_info_gender {
  display: flex;
  width: 45%;
  text-align: start;
  column-gap: 0.6rem;
  margin-left: 0.5rem;
}

.content_shop {
  display: flex;
  column-gap: 0.8rem;
  margin: 0.1em 0;
}
.content_shop_list {
  flex: 1;
}
.shop_list_title {
  font-size: 1.2rem;
  text-align: end;
  font-weight: bold;
  color: var(--sidebar-color-opa07);
  &.reverse {
    text-align: start;
  }
}
.shop_list_list {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  height: 25rem;
  overflow: auto;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0.3rem;
  margin: 0.3rem 0;
}
.shop_list_item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 7px;

  &:hover {
    background-color: var(--sidebar-color);
    color: white;
  }
}
.shop_list_item_image {
  flex: 1;
  height: 4rem;
  position: relative;
  & > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.7rem;
  }
}
.shop_list_item_name {
  flex: 5.1;
}
.shop_list_item_price {
  color: #ed5f23;
  flex: 1;
  &::before {
    content: "$";
  }
}

.content_pagination {
  flex: 0.13;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  row-gap: 0.6rem;
}
.btn {
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--sidebar-color);
  &:hover {
    color: white;
    background-color: var(--sidebar-color-opa07);
  }
}
.btn_trans {
  font-size: 1.5rem;
  color: #2b0098;
}
.content_shop_cart {
  flex: 1;
}
.shop_cart {
  background-color: #d1fdff52;
  border: 1px solid #ed5f23;
}
.content_perchases {
  display: flex;
  justify-content: center;
  align-items: stretch;
  column-gap: 0.6rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #929292a6;
}
.content_perchase_register,
.content_perchase_deleteAll {
  padding: 0.1rem 1rem;
  font-size: 1rem;
  color: #2b0098;
}

.content_table {
  margin-top: 0.5rem;
}
.content_table_list {
  & > thead > tr {
    background-color: var(--sidebar-color);
    color: white;
    & > th {
      padding: 0.17rem 0;
    }
  }
  & > thead > tr:nth-child(even),
  & > tbody > tr > td:nth-child(even) {
    text-align: center;
  }
  & > tbody > tr > td {
    padding: 0.1rem 0.4rem;
  }
  & > tbody > tr:nth-child(even) {
    background-color: #e2b5436b;
  }
}

.footer {
  padding: 0.5rem 0;
  border-top: 1px solid #98c0ff;
}
.footer_about {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sidebar-color-opa07);
  padding: 0.2rem 0;
  border: 2px solid var(--sidebar-color-opacity);
  box-shadow: 1px 2px 6px 1px gray;
  border-radius: 5px;
  background: #ffce646b;
  column-gap: 1rem;
  font-size: 1.1rem;
}
.footer_copyright {
  color: inherit;
}
.footer_navbar {
  color: inherit;
}
.footer_navbar_list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.7rem;
  & > a {
    color: inherit;
    display: inline-block;
    margin: 0 0.7rem;
    position: relative;
    text-decoration: underline;
    &:hover,
    &.active {
      text-shadow: 1px 1px 0 #ffc8526b, 1px 1px 0 #ffc8526b, 1px 1px 0 #ffc8526b,
        1px 1px 0 #ffc8526b;
      color: wheat;
      background-color: var(--sidebar-color-opa07);
    }
    & ~ &::before {
      content: "";
      position: absolute;
      border-left: 1px solid var(--sidebar-color);
      top: 20%;
      left: -30%;
      height: 80%;
    }
  }
}
